*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color{
    color: #000;
}

.App-header {
    background-color: #ffffff;
    min-height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h1{
    margin-bottom: 2%;
}

.input-login{
    width: 40%;
    height: 3em;
    border: 3px solid rgb(62, 80, 182);    
    transition: all ease-in 0.3s;
    border-radius: 9px;
    padding-left: 2%;
    margin: 5px 0;
}

.input-login:focus{
    outline: none;
    border-color: rgb(29, 90, 0);
    padding-left: 3%;
}

.btn-login{
    height: 40px;
    width: 40%;
    margin: 2%;
    background-color: rgba(0, 97, 90, 0.993);
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    transition: all ease-in 0.1s;
}
  
.btn-login:hover{
    background-color: rgb(0, 95, 90);
    color: rgb(255, 255, 255);
    border-top: 4px solid rgba(0, 75, 70);
    border-left: 4px solid rgb(0, 75, 70);
    font-weight: bold;
}

h6{
    color: rgb(141, 10, 10);
    border: 1px solid rgb(141, 10, 10);
    padding: 1%;
    text-align: center;
    border-radius: 3px;
}

.bg-image,
.container-login {
    margin-top: 80px;
    height: 100%;
}

.bg-image{
    background-image: url("https://wallpaperaccess.com/full/2877777.jpg");
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}

.container-login{
    position: absolute;
    padding: 0 20% 10% 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    width: 100%;
    top: 0;
}

.div-formulario-login{
    width: 40%;
    max-height: 62vh;
    display: block;
    margin-top: 5%;
    padding: 3% 5% 5% 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #000000;
    background-color: rgba(255, 255, 255, 1);
}

hr{
    width: 96%;
}







